@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  line-height: 15vh;
  background-color: #510061;
}

header h1 {
  color: white;
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 40px;
  letter-spacing: 15px;
  text-shadow: 0 1px 0 #efefef, 0 2px 0 #efefef, 0 3px 0 #efefef,
    0 4px 0 #efefef, 0 30px 5px rgba(0, 0, 0, 0.1);
}

header .w {
  color: #a1785a;
}

section {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a45ee5;
}


.mainSec {
  width: 50%;
  height: 400px;
  padding: 20px 0;
  border-radius: 30px;
  background-color: #710193;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 6px -6px black;
}

h3 {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

input {
  width: 40%;
  padding: 15px 0px;
  text-align: center;
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #bfa2c5;
  color: white;
  margin: 2rem 0;
  font-size: 1.1rem;
}

.btn {
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: #510061;
  margin-top: 10px;
  color: #eb4deb;
  border-radius: 10px;
  font-weight: 600;
  padding: 1rem 2rem;
  background-color: white;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}
.btn:hover,
.btn:focus,
.btn:active {
  letter-spacing: 0.125rem;
  word-spacing: 0.2rem;
}

.hidden {
  display: none;
}
@media (max-width: 414px) {
  header {
    line-height: 14vh;
  }
  header h1 {
    font-size: 20px;
  }
  .mainSec {
    width: 90%;
  }
    h3 {
    font-size: 1rem;
  }
}

@media (min-width: 414px) and (max-width: 737px) {
  header {
    line-height: 24vh;
  }
  section {
    height: 110vh;
  }
  .mainSec {
    margin-top: 10px;
    width: 70%;
    line-height: 60%;
  }
}
